
input[type=text] {
  width: 30%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  margin-right: 6px;
  margin-left: 6px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.container {
  margin-bottom: 6px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 50px;
}
