<div class="table-responsive">
<div class="container" style="width: max-content">
  <table class="table-hover" >
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Email</th>
      <th scope="col">Sesso</th>
      <th scope="col">Avatar</th>
      <th scope="col">Mestiere</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let variable of person | paginate: {itemsPerPage: 50, currentPage:page, id: '1'}">
      <th scope="row">{{variable.id}}</th>
      <td>{{variable.Nome}}</td>
      <td>{{variable.Cognome}}</td>
      <td>{{variable.Email}}</td>
      <td>{{variable.Sesso}}</td>
      <td><img src="{{variable.Avatar}}" alt="avatar"></td>
      <td>{{variable.Mestiere}}</td>
    </tr>
    </tbody>
  </table>
  <app-custom-pagination (pageChange)="page = $event" id="1"
                         maxSize="50"
                         directionLinks="true"
                         autoHide="true">   </app-custom-pagination>
</div>
</div>
