.roundedBackGround {
  margin-bottom: 50px;
  background:lightslategrey;
  border-radius: 5px;
}
#title{
     color: white;
}
.buttonForm {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-left: 50px;
  margin-bottom: 20px;
}
ul{
  background-color:olive;
  display:inline;
  flex-direction: row;
  list-style-type: none;
  padding:16px;
  border-radius:32px;
  gap:16px;
  box-shadow: #FF995030 0px 8px 24px;
  text-align: center;
  list-style-position: inside;
}
li{
  display:inline-block;
  position:relative;
  color:white;
  cursor:pointer;
  margin-left: 20px;
}
li::after{
  content: '';
  position:absolute;
  width:100%;
  transform:scaleX(0);
  height:2px;
  bottom:0px;
  left:0;
  background-color: #FF9950;
  transform-origin: bottom center;
  transition:transform 0.25s ease-out;
}
li:hover::after{
  transform:scaleX(1);
  transform-origin:bottom center;
}
#contenitoreLista{
  text-align:center;
  display: block;
  margin-top: 40px;

}
.Background{
  text-align: center;
  border-radius: 5px;
  border: 2px solid;
  padding: 40px;
  width: 600px;
  height: 200px;
  margin:0 auto;
  overflow: auto;
  margin-top:20px;
}
h1 {
  text-align: center;
  background-color:transparent;
  color: white;
  margin-bottom: 10px;
}



