/* You can add global styles to this file, and also import other style files */

/*direttive tailwind CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;
.BackgroundImageDisplay{
  background-image:url('./assets/image/cool-background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
